@model Servicios.Model.ProductoSimbolo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>Eliminar</h2>
</div>
<br /><br /><br />
<h5 class="text-center">¿Está seguro de borrar este elemento?</h5>
<div>
    <hr />
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="form-horizontal">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.NombreSimbolo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NombreSimbolo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DescripcionSimbolo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DescripcionSimbolo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CaracteristicasSimbolo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CaracteristicasSimbolo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ImagenPortadaSimbolo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ImagenPortadaSimbolo)
                    </dd>
                </dl>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="form-horizontal">
                                <div class="form-actions no-color">
                                    <input type="submit" value="Borrar" class="btn btn-danger btn-sm" />
                                    <button type="button" class="btn btn-default">
                                        @Html.ActionLink("Volver", "Index")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


