@using PagedList;
@using PagedList.Mvc;

@model  IPagedList<Servicios.Model.ProductoSimbolo>

<h1 class="text-center">Signos Zodiacales</h1>

<div class="content-wrapper">
    <div class="container-fluid">
        <br />
        <p>            
            <button type="button" class="btn btn-default">
                @Html.ActionLink("Agregar nuevo dibujo", "Create")
            </button>
            <a class="btn btn-danger btn-default" href="@Url.Action("Index", "Panel")" style="width:200px;">Volver</a>
        </p>

        <!-- Tabla de Registros-->
        <div class="card mb-3">
            <div class="card-header" style="background-color:#333333; color:#FFFFFF">
                <i class="fa fa-table"></i> Simbolos
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                @*<th>ID</th>*@
                                <th style="background-color:#333333; color:#FFFFFF">Nombre</th>
                                <th style="background-color:#333333; color:#FFFFFF">Descripción</th>
                                <th style="background-color:#333333; color:#FFFFFF">Características</th>
                                <th style="background-color:#333333; color:#FFFFFF">Imagen</th>
                                <th style="background-color:#333333; color:#FFFFFF">Acciones</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>

                                <tr>
                                    @*<td>@Html.DisplayFor(modelItem => item.ProductoID)</td>*@
                                    <td>@Html.DisplayFor(modelItem => item.NombreSimbolo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DescripcionSimbolo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CaracteristicasSimbolo)</td>
                                    <td><img src="@item.ImagenPortadaSimbolo" height="80" width="80" /></td>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { id = item.ProductoSimboloID })
                                        @Html.ActionLink("Detalle", "Detalles", new { id = item.ProductoSimboloID })
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ProductoSimboloID })
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

