@model ServicesCNC.Model.Usuarios
@{
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}
<div class="modal-dialog" style="margin-bottom:0">
    <div class="modal-content">
        <div class="panel-heading text-center" style="padding-top: 5%; padding-bottom: 5%">
            <h5 class="panel-title" style="font-size: 30px;color: darkgrey">Login</h5>
        </div>
        <div class="panel-body">
            <div class="form-group text-center" style="padding-top: 5%; padding-bottom: 10%">
                <img src="http://drive.google.com/uc?export=view&id=1QLy3J7_wBWth0Qa5UJWsUvwrcly2CQ1y" width="150" alt="" class="response-image">
            </div>

            @using (Html.BeginForm("Accesar", "Login", FormMethod.Post, new { role = "form", id = "frmUsuario", @style = "margin-left: 25%; margin-right: 25%" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-row">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.usuario, new { @class = "form-control", @required = "", placeholder = "Usuario", autofocus = "true", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.contrasenia, new { @class = "form-control", @required = "", placeholder = "Contraseña", type = "password" })
                        @Html.ValidationMessageFor(model => model.contrasenia, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group text-center" style="padding-top: 5%; padding-bottom: 5%">
                    <button id="cancel" type="button" class="btn btn-secondary btn-sm" style="padding-left:1em;width:100px">
                        <i class="fa fa-fw fa-sign-out"></i> Cancelar
                    </button>
                    <button id="login" type="submit" class="btn btn-primary btn-sm" style="padding-right:1em;width:100px">
                        <i class="fa fa-fw fa-sign-in"></i> Login
                    </button>
                </div>
            }
        </div>
    </div>
</div>
@*@if (ViewBag.Msj != null)
{
    <div id="message">
        <div id="alert_placeholder" class="alert alert-dismissible fade show" role="alert">
            <span class="fa fa-info-circle"></span> <strong> Error de operación </strong>
        </div>
    </div>
}*@