@model Servicios.Model.Producto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Productos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <br />
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-12">
                            <strong>Nombre</strong>
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @maxlength = "30", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-12">
                            <strong>Descripción</strong>
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @maxlength = "300", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <strong>Características</strong>
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Caracteristicas, new { htmlAttributes = new { @class = "form-control", @maxlength = "300", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.Caracteristicas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                @*<div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-12">
                            <strong>Proveedor</strong>
                        </div>
                        <div class="col-md-10">
                            @Html.DropDownList("ProveedorID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProveedorID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@
                <div class="col-md-4">
                    <div class="form-group">
                        <div id="divInputLoad" class="col-md-10">
                            <div id="divFileUpload">
                                <input id="file-upload" type="file" name="files" accept="image/*" />
                            </div>
                            <div id="file-preview-zone">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-8">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                            <br /><br />
                            <button type="button" class="btn btn-default">
                                @Html.ActionLink("Volver", "Index")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var filePreview = document.createElement('img');
                filePreview.id = 'file-preview';
                //e.target.result contents the base64 data from the image uploaded
                filePreview.src = e.target.result;
                console.log(e.target.result);

                var previewZone = document.getElementById('file-preview-zone');
                previewZone.appendChild(filePreview);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    var fileUpload = document.getElementById('file-upload');
    fileUpload.onchange = function (e) {
        readFile(e.srcElement);
    }
</script>
