@model Servicios.Model.Producto

<div>
    <h4>Producto</h4>
    <hr />
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="form-horizontal">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Caracteristicas)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Caracteristicas)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Proveedor.NombreProveedor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Proveedor.NombreProveedor)
                    </dd>

                </dl>
            </div>
            <p>
                @*@Html.ActionLink("Edit", "Edit", new { id = Model.ProductoID }) |*@
                <button class="btn btn-default">
                    @Html.ActionLink("Volver", "Index")
                </button>
            </p>
        </div>
    </div>
</div>
