@model Servicios.Model.Producto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br />
<h5 class="text-center" style="margin-left:-10px;">Editar información</h5>
@using (Html.BeginForm("Edit", "Productos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ProductoID)
                <div class="card mb-3">
                    <div class="card-header" style="background-color:#333333; color:#FFFFFF">
                        <i></i> Editar signo del zodiaco
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>Nombre</strong>
                                </div>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @maxlength = "30", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-12">
                                    <strong>Descripción</strong>
                                </div>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @maxlength = "300", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>Características</strong>
                                </div>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Caracteristicas, new { htmlAttributes = new { @class = "form-control", @maxlength = "300", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Caracteristicas, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div id="divInputLoad" class="col-md-6">
                                    <div id="divFileUpload">
                                        <input id="file-upload" type="file" name="files" accept="image/*" required/>
                                    </div>
                                    <div id="file-preview-zone">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
                                    <br /><br />
                                    <a href="@Url.Action("Index","Productos")" class="btn btn-default btn-block" style="background-color:#000000; color:#FFFFFF;">Volver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*<div class="col-md-4">
        <div class="form-group">
            <div class="col-md-12">
                <strong>Categoría</strong>
            </div>
            <div class="col-md-10">
                @Html.DropDownList("ProveedorID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProveedorID, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@
