@using PagedList;
@using PagedList.Mvc;

@model  IPagedList<Servicios.Model.Producto>

<h1 class="text-center">Dibujos</h1>

<p>
    <button type="button" class="btn btn-default">
        @Html.ActionLink("Nuevo", "Create")
    </button>
</p>

<div class="content-wrapper">
    <div class="container-fluid">

        <p>
            <button type="button" class="btn btn-default">
                @Html.ActionLink("Nuevo", "Create")
            </button>
        </p>

        <!-- Tabla de Registros-->
        <br /><br /><br />
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Signos Zodiacales
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                @*<th>ID</th>*@
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Características</th>
                                <th>Imagen</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>

                                <tr>
                                    @*<td>@Html.DisplayFor(modelItem => item.ProductoID)</td>*@
                                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Caracteristicas)</td>
                                    <td><img src="@item.ImagenPortada" height="80" width="80" /></td>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { id = item.ProductoID })
                                        @Html.ActionLink("Detalle", "Detalles", new { id = item.ProductoID })
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ProductoID })
                                    </td>
                                </tr>                               
                            </tbody>
                        }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
