@model Servicios.Model.ProductoDibujosAnimados

<div>
    <h4>Dibujos Animados</h4>
    <hr />
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="form-horizontal">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.NombreDibujo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NombreDibujo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DescripcionDibujo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DescripcionDibujo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CaracteristicasDibujo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CaracteristicasDibujo)
                    </dd>
                </dl>
            </div>
            <p>
                @*@Html.ActionLink("Edit", "Edit", new { id = Model.ProductoID }) |*@
                <button class="btn btn-default">
                    @Html.ActionLink("Volver", "Index")
                </button>
            </p>
        </div>
    </div>
</div>

