@using PagedList;
@using PagedList.Mvc;

@model  IPagedList<Servicios.Model.ProductoDibujosAnimados>

<h1 class="text-center">Dibujos Animados</h1>

<div class="content-wrapper">
    <div class="container-fluid">
        <br />
        <p>
            <a href="@Url.Action("CrearDibujo","ProductoDibujosAnimados")" class="btn btn-default" style="width:200px; background-color:#000000; color:#ffffff;">Crear nuevo dibujo</a>
            <a class="btn btn-danger btn-default" href="@Url.Action("Index", "Panel")" style="width:200px;">Volver</a>
        </p>

        <!-- Tabla de Registros-->
        <div class="card mb-3">
            <div class="card-header" style="background-color:#333333; color:#FFFFFF">
                <i class="fa fa-table"></i> Dibujos Animados
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                @*<th>ID</th>*@
                                <th style="background-color:#333333; color:#FFFFFF">Nombre</th>
                                <th style="background-color:#333333; color:#FFFFFF">Descripción</th>
                                <th style="background-color:#333333; color:#FFFFFF">Características</th>
                                <th style="background-color:#333333; color:#FFFFFF">Imagen</th>
                                <th style="background-color:#333333; color:#FFFFFF">Acciones</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>

                                <tr>
                                    @*<td>@Html.DisplayFor(modelItem => item.ProductoID)</td>*@
                                    <td>@Html.DisplayFor(modelItem => item.NombreDibujo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DescripcionDibujo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CaracteristicasDibujo)</td>
                                    <td><img src="@item.ImagenPortadaDibujo" height="80" width="80" /></td>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { id = item.ProductoDibujosAnimadosID })
                                        @*@Html.ActionLink("Detalle", "Detalles", new { id = item.ProductoDibujosAnimadosID })*@
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ProductoDibujosAnimadosID })
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

