@model Servicios.Model.ProductoFigurasGeometricas

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "ProductoFiguras", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <br /><br /><br /><br /><br />
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="card mb-3">
                    <div class="card-header" style="background-color:#333333; color:#FFFFFF">
                        <i></i> Crear nueva figuera
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>Nombre</strong>
                                </div>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.NombreFigura, new { htmlAttributes = new { @class = "form-control", @maxlength = "30", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.NombreFigura, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-12">
                                    <strong>Descripción</strong>
                                </div>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.DescripcionFigura, new { htmlAttributes = new { @class = "form-control", @maxlength = "300", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.DescripcionFigura, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>Características</strong>
                                </div>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.CaracteristicasFigura, new { htmlAttributes = new { @class = "form-control", @maxlength = "300", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.CaracteristicasFigura, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div id="divInputLoad" class="col-md-6">
                                    <div id="divFileUpload">
                                        <input id="file-upload" type="file" name="files" accept="image/*"  required/>
                                    </div>
                                    @*<div id="file-preview-zone">
                                    </div>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
                                    <br /><br />
                                    <a href="@Url.Action("Index","ProductoFiguras")" class="btn btn-default btn-block" style="background-color:#000000; color:#FFFFFF">Volver
                                        @*@Html.ActionLink("Volver", "Index")*@
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var filePreview = document.createElement('img');
                filePreview.id = 'file-preview';
                //e.target.result contents the base64 data from the image uploaded
                filePreview.src = e.target.result;
                console.log(e.target.result);

                var previewZone = document.getElementById('file-preview-zone');
                previewZone.appendChild(filePreview);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    var fileUpload = document.getElementById('file-upload');
    fileUpload.onchange = function (e) {
        readFile(e.srcElement);
    }
</script>



@*<div class="col-md-4">
        <div class="form-group">
            <div class="col-md-12">
                <strong>Proveedor</strong>
            </div>
            <div class="col-md-10">
                @Html.DropDownList("ProveedorID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProveedorID, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@
