@using PagedList;
@using PagedList.Mvc;

@model  IPagedList<Servicios.Model.ProductoFigurasGeometricas>

<br /><br /><br /><br />
@if (@ViewBag.MensajeActualizar != null)
{
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissable" id="close-alert" style="margin-left:250px; margin-right:5px;">
            <button type="button" class="close" data-dissmiss="alert" aria-hidden="true"></button>
            <h4><i class="icon fa fa-refresh"></i>¡@ViewBag.MensajeActualizar!</h4>
        </div>
    </div>
}

@if (@ViewBag.MensajeEliminar != null)
{
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissable" id="close-alert" style="margin-left:250px; margin-right:5px;">
            <button type="button" class="close" data-dissmiss="alert" aria-hidden="true"></button>
            <h4><i class="icon fa fa-check"></i>¡@ViewBag.MensajeEliminar!</h4>
        </div>
    </div>
}

@if (@ViewBag.MensajeExitoso != null)
{
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissable" id="close-alert" style="margin-left:250px; margin-right:5px;">
            <button type="button" class="close" data-dissmiss="alert" aria-hidden="true"></button>
            <h4><i class="icon fa fa-check"></i>¡@ViewBag.MensajeExitoso!</h4>
        </div>
    </div>
}


<h1 class="text-center">Figuras Geométricas</h1>

<div class="content-wrapper">
    <div class="container-fluid">
        <br />
        <p>
            <a href="@Url.Action("CrearSigno","ProductoFiguras")" class="btn btn-default" style="width:200px; background-color:#000000; color:#ffffff;">Crear nuevo signo</a>
            <a class="btn btn-danger btn-default" href="@Url.Action("Index", "Panel")" style="width:200px;">Volver</a>
        </p>

        <!-- Tabla de Registros-->
        <div class="card mb-3">
            <div class="card-header" style="background-color:#333333; color:#FFFFFF">
                <i class="fa fa-table"></i> Signos Zodiacales
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                @*<th>ID</th>*@
                                <th style="background-color:#333333; color:#FFFFFF">Nombre</th>
                                <th style="background-color:#333333; color:#FFFFFF">Descripción</th>
                                <th style="background-color:#333333; color:#FFFFFF">Características</th>
                                <th style="background-color:#333333; color:#FFFFFF">Imagen</th>
                                <th style="background-color:#333333; color:#FFFFFF">Acciones</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>

                                <tr>
                                    @*<td>@Html.DisplayFor(modelItem => item.ProductoID)</td>*@
                                    <td>@Html.DisplayFor(modelItem => item.NombreFigura)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DescripcionFigura)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CaracteristicasFigura)</td>
                                    <td><img src="@item.ImagenPortadaFigura" height="80" width="80" /></td>
                                    <td>
                                        <a href="@Url.Action("Edit","ProductoFiguras", new { id = item.ProductoFiguraID })" class="btn btn-default btn-block" style="background-color:#000000; color:#FFFFFF;">Editar</a>
                                        <a href="@Url.Action("Delete","ProductoFiguras", new { id = item.ProductoFiguraID })" class="btn btn-default btn-block" style="background-color:#000000; color:#FFFFFF;">Eliminar</a>
                                        @*@Html.ActionLink("Editar", "Edit", new { id = item.ProductoFiguraID })*@
                                        @*@Html.ActionLink("Detalle", "Detalles", new { id = item.ProductoID })*@
                                        @*@Html.ActionLink("Eliminar", "Delete", new { id = item.ProductoFiguraID }, new { onclick = "return confirm('¿Desea eliminar este registro?');" })*@
                                    </td>
                                </tr>                               
                            </tbody>
                        }
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>

<script>
    //Codigos para ocultar el alert de diferentes formas

    //$(document).ready(function () {
    //    setTimeout(function () {
    //        $(".alert").alert('close');
    //    }, 2000);
    //});

    //Fin de los codigos


    $(document).ready(function () {
        $(".alert").delay(3000).slideUp(200, function () {
            $(this).alert('close');
        });
    });

</script>

